<div class="container">
  <div class="row">
    <div class="span4">
      <ul class="nav nav-list">
        <li class="nav-header">What we are?</li>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Our Clients</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li class="nav-header">Our Friend</li>
        <li><a href="#">Google</a></li>
        <li><a href="#">Yahoo!</a></li>
        <li><a href="#">Bing</a></li>
        <li><a href="#">Microsoft</a></li>
        <li><a href="#">Gadgetic World</a></li>
      </ul>
    </div>
    <div class="span8">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel slides -->
        <div class="carousel-inner" width="100%" height="100%">
          <div class="active item">
            <%= image_tag 'c.jpg', :style => "width: 800px; height: 300px;"  %>
            <div class="carousel-caption">
              <h4>
                CAPTION</h4>
              <p>
                Sample Caption</p>
            </div>
          </div>
          <div class="item">
            <%= image_tag 'b.jpg', :style => "width: 800px; height: 300px;"  %>
          </div>
          <div class="item">
            <%= image_tag 'a.jpg', :style => "width: 800px; height: 300px;"  %>

          </div>
          <div class="item">
            <%= image_tag 'd.jpg', :style => "width: 800px; height: 300px;"  %>

          </div>
        </div>
        <!-- Carousel navigation -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> <a class="carousel-control right"
                                                                                       href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="span4">
    <h4 class="muted text-center">Meet Our Clients</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>
  </div>
  <div class="span4">
    <h4 class="muted text-center">Know Our Employees</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Our Employees</a>
  </div>
  <div class="span4">
    <h4 class="muted text-center">Reach Us</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <a href="#" class="btn btn-info">Contact Us</a>
  </div>
</div>