<table class="table table-bordered table-striped">
  <thead>
  <tr>

    <th>Name</th>
    <th>Download </th>

    <th>Created at</th>
    <th>Size</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>




  <% @root_metadata.each_pair do |k,v| %>
       <%  if k == "contents" %>
        <% v.each do |k,v| %>
        <%  k.each do |k,v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
        <td><%#= distance_of_time_in_words(resume.created_at, Time.now) %> ago</td>
        <td><%#= resume.file_size/1000/1000.to_f %> mb</td>

        <td><%#= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resume.name}?" %></td>
      </tr>
      <% end %>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>