

<%= link_to "connect to your dorpbox accoutn", resumes_reg_url  %>

<%= link_to "show uploaded files",  resumes_show_path  %>


<% if !flash[:notice].blank? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br />

<%= link_to "Upload File", new_resume_path, class: "btn btn-primary" %>

<br />
<br />
