
<div class="row">
  <div class="span4">
    <h4 class="muted text-center">Meet Our Clients</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
    <a href="#" class="btn"><i class="icon-user"></i> Our Clients</a>
  </div>
  <div class="span4">
    <h4 class="muted text-center">Know Our Employees</h4>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.</p>
    <a href="#" class="btn btn-success"><i class="icon-star icon-white"></i> Our Employees</a>
  </div>
  <div class="span4">
    <h4 class="muted text-center">Reach Us</h4>
    <div class="row">
      <div class="span4">
      </div>

      <div class="span8">
        <address>
          <strong >Cloud Storage</strong><br>
          Visit Us: <%= link_to 'cloudstorage.pk', root_url %><br>
          54-M,Gulberg-III<br>
          Lahore <abbr title="Phone">P:</abbr>(345) 6565187
        </address>
        <%=link_to 'Contact Us',new_inquiry_path, class: "btn btn-info"%>
      </div>
    </div>
  </div>
</div>